#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.Initial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1{
    font-size: 6rem;
    margin: 0;
    
  };
  p{
    color: #ffffff57;
    width: 90%;
    font-size: 1rem;
    padding: 6px 12px;
  };
}
.prontContainer{
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 2rem;
}
.prontContainer  input{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: #1a1a1a;
  border: .5px solid #ffffff;
  width: 50vw;
}